.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 900px 900px 60px ;
  height: 100vh; 
  background: #0d0d2b;
  color: rgb(255, 255, 255);
  gap: 50px;
  flex-wrap: wrap;


}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.highlight {
  color: #3b82f6;
}

.hero-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-actions input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.subscribe {
  background: #3b82f6;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
}

.contact {
  background: #786f6f;
  color: white;
  padding: 10px 15px;
  border-radius: -5px;
  border: none;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 10px;
  padding: 9px 8px 9px 6px ; 
  object-fit: cover; 
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 100px 70px 60px 60px ; 
  height: 50vh;
  background: #0d0d2b;
  color: rgb(255, 255, 255);
  gap: 50px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}
