.navbar {
  width: 100%;
  background: #1a1a1a;
  padding: 15px 360px;
  position: sticky;
  top: 10px;
  z-index: auto;
}
.navbar-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Add wrappers for left, center, right */
.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-center {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Remove float from logo */
.navbar-logo h2 {
  color: #ffffff;
  margin: 0;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* Center links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar-links li a:hover {
  color: #3b82f6; /*Blue hover effecr*/
}

/* single-button */
.signin-btn {
  background: linear-gradient(90deg,#06b6d4,#3b82f6); /* Blue background */
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
  transition:opacity 0.3s ease;
  font-weight: 600;
  margin-right: 10px;
  
}

.signin-btn:hover {
  opacity: 0.8;
}