.partners {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.partner-logo {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo img {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
}
.partner-logo:hover {
  background: #333333;
  transform: scale(1.05);
  transition: transform 0.3s, background 0.3s;
}