.upcoming-events {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;

}

.upcoming-events .event-card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  width: 200%;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
  border: 2px solid #3b82f6;
}

.upcoming-events img {
  width: 100%;
  height: 120px;
  object-fit: cover;

}

.upcoming-events .event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  
}

.upcoming-events .event-info {
  padding: 15px;
  color: #ffffff;

}

.upcoming-events .event-info span {
  color: #3b82f6;
  font-weight: bold;
  font-size: 0.9rem;
}
